.create-post {
  width: 40%;
  min-width: 24rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.121);
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.create-post__text-area {
  font-size: 1.5rem;
}
